


* {
    box-sizing: border-box;
  }

  button{
   color: black;
   border-style: none;
   background-color: #FFA3B9;
   border-radius: 10px;
  }

.ul{
    list-style: none;
    width:80%;
    padding:1em;
    display: grid;
    grid-template-columns: repeat( auto-fit , minmax( 10em , 1fr ) );
    gap: 1em;
}

.ul .li{
    overflow: hidden;
}

.ul .img{
    min-height: 200px;
    transition: all .5s ease;
    transform:scale(1.4);
}


.ul .li:hover .img{
    transform:scale(1.5);
}

.lightbox{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(105, 105, 105, 0.8);
    z-index: 2;
    opacity: 0;
    transform: scale(1.1);
    transition: all .5s ease;
    pointer-events: none;
}
.lightbox.true{
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}
.lightbox .close{
    width: 5em;
    height: 3em;
    margin: 0 0 1em;
    cursor: pointer;
}
.lightbox .big{
    width: 500px;
    height:500px;
}

@keyframes upAnimation{

    from{
        opacity: 0;
        transform: translate(-50);
    }

    to{
        
    }
}