html,
body {
  background-color: rgba(247, 247, 247, 1);
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
  text-decoration: underline;
}

.title{
    text-align: center;
    font-size: 1.2em;
    font-weight: normal;
    margin-bottom: 5%;
}

.logo {
    margin-left: 2%;
    width: 177px;
  }

.info__login{
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.container__login{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 400px;
    background-color: #F2EDF0;
    box-shadow: 0px 0px 10px 
    rgba(0, 0, 0, 0.05);
    border-radius: 30px; 
}

.login__form{
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 400px;
  background-color: #F2EDF0;
  box-shadow: 0px 0px 10px 
  rgba(0, 0, 0, 0.05);
  border-radius: 30px; 
}


.login__input{
    padding-left: 10px;
    margin-bottom: 2%;
    width: 315px;
    height: 30px;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    font-family: 'Poppins', sans-serif;
}


.login__btn{
    margin: 2%;
    width: 120px;
    height: 30px;
    border-radius: 10px;
    background-color: #FFA3B9;
    color: #FFFFFF;
    border: none;
    font-family: 'Poppins', sans-serif;
}

.select__admin{
  margin-top: 2%;
  width: 250px;
  height: 30px;
  border: none;
  border-radius: 10px;
  background: white;
  font-family: 'Poppins', sans-serif;
}

//mediaqueries

@media all and (max-width: 768px) {

  //login
  .info__login{
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
  }
}

@media all and (max-width: 400px) {
   //login
  .link__registro{
    font-size: .8em;
  }
  //sign up
  .title{
    font-size: 1em;
  }

  .label_filters{
    font-size: .8em;
  }

  .container__login{
    margin: 5%;
    width: 90%;
  }
}