html,
body {
  background-color: rgba(247, 247, 247, 1);
  font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/*header*/

.header {
  padding: 20px 50px;
  display: flex;
  align-items: center;
  width: 100%;
}

nav {
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.menu__item{
  margin: 0 10px;
  position: relative;
}

.menu__item:hover{
  text-decoration: underline;
}

.logo {
  width: 177px;
}

.menu__item {
    margin: 0 20px;
}

.menu__item a {
    color: black;
    font-size: 1.3em;
    line-height: 33px;
}

.banner{
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
}

.banner__container{
margin-top: 8%;
margin-right: 15%;
}

.banner__img{
  width: 35%;
}

.banner__title{
  text-align: center;
  margin-bottom: 2%;
  font-family: 'Dancing Script', cursive;
  font-size: 6.25em;
}

.banner__text{
text-align: center;
font-size: 1.3em;
margin-bottom: 2%;
font-weight: lighter;
}

.banner__description{
  font-size: 2em;
  color: #FFA3B9;
  text-align: center;
}

.banner__container2{
  margin-top: 8%;
  margin-right: 15%;
  }

  .banner__container2{
    margin-top: 10%;
    margin-right: 15%;
    }

    .banner__container3{
      margin-top: 10%;
      margin-right: 10%;
      }




.bakery {
    padding: 20px 50px;
}

.bakery__title{
  font-weight: normal;
  margin-top: 6%;
  font-size: 3.5em;
}


.desert__title{
  margin-top: 2%;
}

.deserts {
    display: flex;
    justify-content: row;
    z-index: 2;
}


.desert {
    width: 25%;
    margin: 3%;
}

.desert:hover{
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.18);
}
.desert__caption {
    background-color: white;
    margin-top: 0%;
    padding: 20px;
}

.desert__description{
    color: #FFA3B9; 
}

.desert__img{
  width: 100%
  
}

.information{
  flex-direction: row;
}


.information__title{
  font-weight: normal;
  margin-top: 2%;
  margin-left: 4%;
  margin-bottom: 2%;
  font-size: 3.5em;
}

.local__img{
 margin: 5%;
 width: 30%;
}

.location__icon{
    margin-left: 54%;
    margin-bottom: 5%;
    width: 8%;
}

.right__icon{
margin-left: 85%;
}

.location{
margin-left: 5%;
width: 90%;
}

.location__item{
background-color:rgba(242, 237, 240, 1);
width: 100%;
}

.our__info{
  background-color:rgba(242, 237, 240, 1);
  margin-top: 8%;
  margin-left: 15%;
  width: 30%;
}

.logo2__img{
  margin-left: 10%;
  margin-bottom:  10%;
}

/*.about__us{
  width: 100%;
  display: flex;
  justify-content: space-between;
}*/

.about__us__description{
  font-weight:lighter;
  font-size: 1.5em;
  text-align: center;
}
.pics__us{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);

}

.pics{
  grid-column: 1/3;
  grid-row: 1/3;
}

.inputs{
  margin-left: 2%;
  display: block;
}

.label{
  margin-right: 2%;

}

 .name{
  margin-left: 1%;
  width: 329px;
  height: 30px;
  background: #F2EDF0;
  border-radius: 10px;
  border: none;
 }

 .email{
  margin-left: 1%;
  width: 329px;
  height: 30px;
  background: #F2EDF0;
  border-radius: 10px;
  border: none;
 }

 .phone{
  margin-left: 1%;
  width: 329px;
  height: 30px;
  background: #F2EDF0;
  border-radius: 10px;
  border: none; 
 }

.btn{
  width: 10%;
  height: 25px;
  border-radius: 10px;
  background-color: #FFA3B9;
  border: none;
}

.btn:hover{
  background-color: #F399AF;
}

.newsletter__item{
flex-direction: column;
}

.newsletter__title{
  margin-left: 40%;
  margin-top: 5%;
  margin-bottom: 2%;
}

.foot {
  background-color: rgba(242, 237, 240, 1);
  display: flex;
  justify-content: space-between;
}

.hyperlink{
  list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 15%;
	margin-right: auto;
	margin-bottom: 3%;
	margin-left: auto;

}

.hyperlink li{
  display:inline;
}

.hyperlink li a{
  color:#999; 
  margin:0 12px;
}

.footer__menu:hover{
  text-decoration: underline;
}


.apps{
  margin-top:5%;
  margin-left: 10%;
  margin-top:5%;
}

.info{
  margin-top:5%;
  margin-right: 10%;
  margin-bottom: 5%;
}
.footer__title{
  font-size: 1.2em;
  margin-bottom: 5%;
  color:#999; 
}
.contact{
  font-size: 1.2em;
  margin-bottom: 2%;
  color:#999; 
}
.phones{
  font-weight: normal;
  color:#999; 
}

.emails{
  font-weight: normal; 
  color:#999; 
}

