html,
body {
  background-color: rgba(247, 247, 247, 1);
  font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/*header*/

.header {
  padding: 20px 50px;
  display: flex;
  align-items: center;
  width: 100%;
}

nav {
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.menu-item {
  margin: 0 10px;
  position: relative;
}

.logo {
  width: 177px;
}

.menu__item {
    margin: 0 20px;
}

.menu__item a {
    color: black;
    font-size: 1.3em;
    line-height: 33px;
}

.banner__img{
  width: 35%;
}


.background__img{
  z-index: 1;
  position: absolute;
  width: 100%;
}

.bakery {
    padding: 20px 50px;
}

.bakery__title{
  font-weight: normal;
  margin-top: 15%;
  font-size: 4em;
}

.dessert__title{
  margin-top: 2%;
}

.deserts {
    display: flex;
    justify-content: row;
    z-index: 2;
}

.desert {
    width: 25%;
    margin: 3%;
}

.desert__caption {
    background-color: white;
    margin: 0%;
    padding: 20px;
}

.desert__description{
    color: #FFA3B9; 
}

.desert__img{
  width: 100%
}


.information__title{
  font-weight: normal;
  margin-top: 2%;
  margin-left: 3%;
  font-size: 4em;
}

.local__img{
 margin: 5%;
 width: 30%;
}

.location__icon{
    margin-left: 54%;
    margin-bottom: 5%;
    width: 8%;
}

.places__text{
margin-left: 45%;
}

.direction{
margin-left: 45%;  
}

.right__icon{
margin-left: 85%;
}

.location{
margin-left: 5%;
width: 90%;
}
.location__item{
background-color:rgba(242, 237, 240, 1);
width: 100%;
}

.logo2__img{
  margin-left: 5%;
}
.about__us__description{
  text-align: justify;
}
.inputs{
  margin-left: 2%;
}

.label{
  margin-right: 2%;
}

 .name{
  margin-left: 1%;
  width: 329px;
  height: 30px;
  background: #F2EDF0;
  border-radius: 10px;
  border: none;
 }

 .email{
  margin-left: 1%;
  width: 329px;
  height: 30px;
  background: #F2EDF0;
  border-radius: 10px;
  border: none;
 }

 .phone{
  margin-left: 1%;
  width: 329px;
  height: 30px;
  background: #F2EDF0;
  border-radius: 10px;
  border: none; 
 }

.cakes__img{
  justify-content: space-between;
  margin-left: 40%;
}

.newsletter__title{
  margin-left: 40%;
  margin-top: 5%;
  margin-bottom: 2%;
}

footer {
  margin-top: 3%;
}

.foot {
  background-color: rgba(242, 237, 240, 1);
}

.footer__title{
  margin-top: 2%;
  margin-left: 5%;
}

.contact{
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
  margin-left: 5%;
}

.apps{

  margin-left: 5%;
}

.info{
  display: flex;
  justify-content: flex-end;

}

