html,
body {
  background-color: rgba(247, 247, 247, 1);
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/*header*/

.header {
  padding: 20px 50px;
  display: flex;
  align-items: center;
  width: 100%;
}

nav {
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.menu__item{
  margin: 0 10px;
  position: relative;
}

.menu__item:hover{
  text-decoration: underline;
}

.logo {
  width: 177px;
}

.menu__item {
    margin: 0 20px;
}

.menu__item a {
    color: black;
    font-size: 1.3em;
}

.color__item{
  color: #FFA3B9; 
  font-size: 1em;
  margin-left: 2%;
}


.banners{
  width: 100%;
  overflow: hidden;
}

.banners ul{
  animation: slideshow 20s infinite alternate linear;
  display:flex;
  width: 400%;
  height: 100%;
}

.banners li{
  width: 100%;
}

@keyframes slideshow {
  0%{margin-left: 0;}
  20%{margin-left: 0;}
  25%{margin-left: -100%;}
  45%{margin-left: -100%;}
  50%{margin-left: -200%;}
  70%{margin-left : -200%;}
  75%{margin-left: -300%;}
  100%{margin-left: -300%;}
}

.banner__container{
margin-top: 8%;
margin-right: 15%;
}

.banner__title{
  text-align: center;
  margin-bottom: 2%;
  font-family: 'Dancing Script', cursive;
  font-size: 6.25em;
}

.banner__text{
text-align: center;
font-size: 1.3em;
margin-bottom: 2%;
font-weight: lighter;
}

.banner__description{
  font-size: 2em;
  color: #FFA3B9;
  text-align: center;
}

.banner__container2{
  margin-top: 8%;
  margin-right: 15%;
  }

  .banner__container2{
    margin-top: 10%;
    margin-right: 15%;
    }

    .banner__container3{
      margin-top: 10%;
      margin-right: 10%;
      }

.bakery {
    padding: 20px 50px;
}

.bakery__title{
  font-weight: normal;
  margin-top: 4%;
  font-size: 3.2em;
}


.desert__title{
  margin-top: 2%;
}


.deserts {
    display: flex;
    justify-content: row;
}

.desert {
    width: 25%;
    margin: 3%;
}

.desert:hover{
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.18);
}
.desert__caption {
    background-color: white;
    margin-top: 0%;
    padding: 20px;
}

.desert__description{
    color: #FFA3B9; 
}

.desert__img{
  width: 100%
}

.information__title{
  font-weight: normal;
  margin-top: 5%;
  margin-left: 4%;
  margin-bottom: 2%;
  font-size: 3.2em;
}

.location__container{
  background-color:rgba(242, 237, 240, 1);
}

.location{
  display: flex;
  padding: 0 187px;
}

.local__img{
  width: 100%;
  margin-bottom: 5%;
 }

.place__info{
  display: block;
  margin: 0 auto;
  margin-left: 10%;
}

.places__text{
  font-size: 2.2em;
}
.direct{
  font-weight: lighter;
}
.places__description{
margin-top: 9%;
margin-bottom: 20%;
color: #FFA3B9;
font-size: 1.2em;
}

.icon{
  display: block;
  margin: 0 auto;
  width: 15%;
}

.our__info{
  background-color:rgba(242, 237, 240, 1);
  width: 50%;
}

.logo2__img{
  display: block;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 8%;
}

.about__us{
  display: flex;
  padding: 0 187px;
}

.about__us__description{
  font-weight:lighter;
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 2%;
}
.pics__us{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  width: 80%;
}

.pics{
  object-fit: cover;
  grid-column: 1/3;
  grid-row: 1/3;
}

.inputs{
  margin-right: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.label{
margin-left: 5%;

}

 .name{
  margin-bottom: 5%;
  width: 315px;
  height: 30px;
  background: #F2EDF0;
  border-radius: 10px;
  border: none;
 }

 .email{
  margin-bottom: 5%;
  width: 326px;
  height: 30px;
  background: #F2EDF0;
  border-radius: 10px;
  border: none;
 }

 .phone{
  margin-bottom: 5%;
  width: 311px;
  height: 30px;
  background: #F2EDF0;
  border-radius: 10px;
  border: none; 
 }

.btn{
  margin-top: 2%;
  margin-left: 6%;
  margin-bottom: 5%;
  width: 10%;
  height: 30px;
  border-radius: 10px;
  background-color: #FFA3B9;
  border: none;
  font-family: 'Poppins', sans-serif;
}

.btn:hover{
  background-color: #F399AF;
}

.newsletter__item{
flex-direction: column;
}

.newsletter__title{
  text-align: center;
  margin-top: 5%;
  margin-bottom: 2%;
}

.footer__container{
  background-color: rgba(242, 237, 240, 1); 
  padding: 10px;
}

.foot {
  display: flex;
  justify-content: space-between;
}

.hyperlink{
  list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 2%;
	margin-right: auto;
	margin-bottom: 2%;
	margin-left: auto;
}

.hyperlink li{
  display:inline;
}

.hyperlink li a{
  color:#999; 
  margin:0 12px;
}

.footer__menu:hover{
  text-decoration: underline;
}

.apps{
  margin-top:5%;
  margin-left: 10%;
}

.info{
  margin-top:5%;
  margin-right: 10%;
  margin-bottom: 5%;
}
.footer__title{
  font-size: 1.2em;
  margin-bottom: 5%;
  color:#999; 
}
.contact{
  font-size: 1.2em;
  margin-bottom: 2%;
  color:#999; 
}
.phones{
  font-weight: normal;
  color:#999; 
}

.emails{
  font-weight: normal; 
  color:#999; 
}
