html,
body {
  background-color: rgba(247, 247, 247, 1);
  font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}


/*header*/

.header {
  padding: 20px 50px;
  display: flex;
  align-items: center;
  width: 100%;
}

nav {
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.menu-item {
  margin: 0 10px;
  position: relative;
}

.logo {
  width: 177px;
}

.menu__item {
    margin: 0 20px;
}

.menu__item a {
    color: black;
    font-size: 1.3em;
    line-height: 33px;
}

.banner__img{
  width: 35%;
}


.background__img{
  z-index: 1;
  position: absolute;
  width: 100%;
}

.bakery {
    padding: 20px 50px;
}

.bakery__title{
  font-weight: normal;
  margin-top: 15%;
  font-size: 4em;
}

.dessert__title{
  margin-top: 2%;
}

.deserts {
    display: flex;
    justify-content: row;
    z-index: 2;
}

.desert {
    width: 25%;
    margin: 3%;
}

.desert__caption {
    background-color: white;
    margin: 0%;
    padding: 20px;
}

.desert__description{
    color: #FFA3B9; 
}

.desert__img{
  width: 100%
}
.img2{
  height: 435px;
}



#cart {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 90%;
  top: 4;
}

#user {
  position: absolute;
  width: 42px;
  height: 42px;
  left: 93%;
  top: 41px;
}


.foot {
  background-color: rgba(242, 237, 240, 1);
}

footer {
  margin-bottom: 200px;
}