
@media all and (min-width: 1000px) {
   
}
@media all and (max-width: 768px) {

    /*header*/
    .logo{
        width: 500px;
       }

    .menu__item{
        font-size: 0.6em;
        margin: 0 15px;
    }

    /*banner*/
    .banner__title{
        font-size:  3em;
    }
    .banner__text{
        font-size: 0.8em;
    }

     /*tortas y postres*/
     .bakery__title{
         font-size: 2em;
     }
    .banner__description{
        font-size: 1em;
      }

    .desert {
        width: 50%;
    }

    .desert__caption{
        font-size: 0.6em;
    }

    /*puntos de venta*/

    .location{
        padding: 20px;
    }
    .information__title{
        font-size: 2em;  
    }
    .icon{
        display: block;
        margin: 0 auto;
        width: 20%;
      }
    .places__text{
        font-size: 1.2em;
    }
    .direct{
        font-size: 1em;
      }
    .places__description{
        margin-top: 5%;
        font-size: 0.8em;
     }

    /*sobre nosotras*/
    .about__us__description{
        font-size: 0.8em;
        margin-bottom: 0%;
      }

    .about__us{
        padding: 0%;
        margin-left: 10%;
    }

    .logo2__img{
        width: 70%;
    }

      .pics__us{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        width: 100%;
      }

      .cakes__img{
        width: 40%; 
      }
      /*footer*/
      .apps{
        font-size: 0.8em; 
      }

      .info{
          font-size: 0.8em;
      }

      .instagram{
        width: 25%;
     }
     .whatsapp{
         width: 25%;
    }
    .rappi{
        width: 50%;
    }

    .footer__menu{
        font-size: 0.7em;
    }
    .hyperlink{
        list-style-type:none;
          padding:0px;
          display:table;
          margin-top: 20%;
          margin-right: auto;
          margin-bottom: 3%;
          margin-left: auto;
      }

      .hyperlink__link{
          width: 80%;
      }

}


@media all and (max-width: 400px) {

    /*header*/
    .logo{
        width: 1000px;
    }

    .menu__item{
        font-size: 0.4em;
        margin: 0 15px;
    }
     /*tortas y postres*/

     .bakery{
         padding: 5%;
     }
     .bakery__title{
      font-size: 1.2em;
     }
    .desert__description{
        font-size: 0.8em;
      }

    .desert {
        width: 50%;
        margin: 0.5%;
    }
    .desert__title{
        margin-left: 2%;
        margin-top: 0.5%;
        font-size: 0.7em;
      }
    .desert__caption{
        padding: 14px;
    }

    /*puntos de venta*/
    .information__title{
        font-size: 1.2em;  
    }
    .icon{
        display: block;
        margin: 0 auto;
        width: 20%;
      }
    .places__text{
        font-size: 0.6em;
    }

    .local__img{
        margin-left: 6%;
        width: 90%;
        margin-bottom: 0%;
    }

    .location{
        display: flex;
        padding: 0 50px;
      }

    .direct{
        font-size: 0.4em;
      }
    .places__description{
        margin-top: 5%;
        font-size: 0.4em;
     }

    /*sobre nosotras*/

    .about__us{
        margin-left: 10% ;
        padding: 0%;
    }
    .about__us__description{
        font-size: 0.5em;
        margin-bottom: 0%;
      }

      .logo2__img{
        width: 50%;
        display: block;
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 8%;
      }

      .pics__us{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        width: 100%;
      }

      .pics{

      }

      .cakes__img{
          width: 40%;
      }
 
}