/*$maincolor: red;
$fontsizelarge:50px;


h1{
    color:$maincolor;
    font-size: $fontsizelarge;
}

h3{
    color:$maincolor;
}*/

$maincolor:black;
$leadcolor: #FFA3B9;
$fontsize1:1.3em;
$fontsize2:2em;
$fontsize3:3.2em;



html,
body {
  background-color: rgba(247, 247, 247, 1);
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }

  /*header*/

.header {
    padding: 20px 50px;
    display: flex;
    align-items: center;
    width: 100%;
}

nav {
    justify-content: space-between;
    display: flex;
    width: 100%;
  }
  
  .flex {
    display: flex;
  }
  
  .align-items-center {
    align-items: center;
  }
  
  .menu__item{
    margin: 0 10px;
    position: relative;
  }

  .menu__item:hover{
    text-decoration: underline;
  }
  
  .logo {
    width: 177px;
  }
  
  .menu__item {
      margin: 0 20px;
  }

  .menu__item:hover{
    text-decoration: underline;
  }
  
  .logo {
    width: 177px;
  }

  .menu__item a {
    color: $maincolor;
    font-size: $fontsize;
}

.banners{
    width: 100%;
    overflow: hidden;
  }
  
  .banners ul{
    animation: slideshow 20s infinite alternate linear;
    display:flex;
    width: 400%;
    height: 100%;
  }
  
  .banners li{
    width: 100%;
  }

  @keyframes slideshow {
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    50%{margin-left: -200%;}
    70%{margin-left : -200%;}
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
  }

  .banner__container{
    margin-top: 8%;
    margin-right: 15%;
    }
    
    .banner__title{
      text-align: center;
      margin-bottom: 2%;
      font-family: 'Dancing Script', cursive;
      font-size: 6.25em;
    }

    .banner__text{
        text-align: center;
        font-size: $fontsize3;
        margin-bottom: 2%;
        font-weight: lighter;
    }

    .banner__description{
        font-size: $fontsize2;
        color: $leadcolor;
        text-align: center;
      }

      .banner__container2{
        margin-top: 10%;
        margin-right: 15%;
        }
    
    .banner__container3{
          margin-top: 10%;
          margin-right: 10%;
     }
    
    .bakery {
        padding: 20px 50px;
    }

    .bakery__title{
        font-weight: normal;
        margin-top: 4%;
        font-size: $fontsize3;
      }

      .desert__title{
        margin-top: 2%;
      }
      
      
      .deserts {
          display: flex;
          justify-content: row;
      }
      
      .desert {
          width: 25%;
          margin: 3%;
      }

      .desert:hover{
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.18);
      }

      

        
